html, body, form {
  margin: 0;
  padding: 0;
}

.wrap {
  text-align: center;
}

.wrap-center {
  width: 1200px;
  display: inline-block;
}

.header {
  display: flex;
}
.header-title {
  text-align: left;
  width: 100%;
  margin-top: 23px;
  padding: 5px;
  cursor: pointer;
}

.member-box {
  padding: 5px;
  width: 100%;
  text-align: right;
}

.member{
  padding: 5px;
  position:relative;
  top:80px;
}

.login {
  right: 42px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.join {
  right: -10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  margin-top: 10px;
  height: auto;
  border-top:1px solid #dadada;;
  border-bottom:1px solid #dadada;;
}

.sidemain {
  width:10%;
  border-right:1px solid #dadada;;
}

.choosebtn {
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.realmain {
  width:90%;
}

.footer {
  padding: 10px;
  text-align: center;
}